<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>
<body>
    <div class="nav">
        <img src="assets/images/gcLogo.png" alt="GCLogo">
        <img src="assets/images/ccsLogo.png" alt="CCSLogo">
        <img src="assets/images/CEPAlogo2-removebg-preview.png" alt="CEPAnav">
    </div>
    <div class="container">
        <div class="row">
            <div class="column llogo">
                <img src="assets/images/logo/CEPALogo-removebg-preview.png" alt="Logo">
            </div>
            <div class="column box form-box">
                <header>Admin Login</header>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="field input">
                      <input type="text" formControlName="adminID" placeholder="ID Number">
                    </div>
                    <div class="field1 input">
                      <input type="password" formControlName="adminPass" placeholder="Password">
                    </div>
                    <div class="field">
                      <button type="submit" class="btn">Login</button>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
    
</body>
</html>
